/* 인코딩할때 한국어 깨짐방지 */
@charset "utf-8";
/* 구글폰트사용 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');
/*reset 웹페이지 기본속성 제거*/
* {margin: 0; padding: 0;}
li{list-style: none;}
a {color: inherit; text-decoration: none;} /* 텍스트컬러 부모속성 받기 */

/*layout*/
body {font-family: 'Nanum Gothic',sans-serif; font-size: 16px; color: #333; line-height: 1.25;}
header {width: 100%; height: 90px; background: #fff; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);position: relative;}
.header-list {width:1200px;margin:0 auto;font-size:0;padding:20px 40px 0 40px; position: relative;}
.header-list > li {font-size:12px;display:inline-block;vertical-align:middle;}
.header-list > li:nth-child(1) {font-size:20px;width:200px;}
.header-list > li:nth-child(2) {width:calc(100% - 250px);}
.header-list > li:nth-child(3) {width:50px;}
.header-list > li > div {width:auto; font-weight: bold; } 
.header-list > li > input{ border-radius: 50%; display: block; padding: 5px 5px; margin-right: 5px; margin-top: 10px; width: 60px;
    height: 35px;  font-family: 'Roboto', sans-serif; font-size: 11px;  text-transform: uppercase; letter-spacing: 2.5px; font-weight: 500; border-radius: 45px; transition: all 0.3s ease 0s;  cursor: pointer; outline: none; border: none; }
.header-list > li .mainBtn:nth-child(1){float: right; color: black; background-color: rgb(231, 231, 231); }
.header-list > li .mainBtn:nth-child(2){float: right; color: rgb(121, 121, 121); background-color: rgb(255, 255, 97); }
.header-list > li .mainBtn:nth-child(3){float: right; color: white; background-color: rgb(48, 48, 48); }

.header-list > li > .mainLogo{margin-top: 15px;}

/* sidebar */
.menu-ul {font-size:0;}
.menu-ul > li {font-size:12px;display:inline-block;vertical-align:middle;margin-left: 140px;}
.menu-ul > li > a {display:block;width:auto;padding:15px;}

input[id="menuicon"] {display:none;}
input[id="menuicon"] + label {display:block;position:relative;width:100%;height:40px;cursor:pointer;}
input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:3px;border-radius:30px;background:#666;transition:all .35s;}
input[id="menuicon"] + label span:nth-child(1) {top:10%;}
input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);} 
input[id="menuicon"] + label span:nth-child(3) {bottom:10%;}
input[id="menuicon"]:checked + label {z-index:2;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
div[class="sidebar"] {width:100%;height:0px;background:#aaa;position:fixed;top:76px;left:0;z-index:1;transition:all .35s;overflow:hidden;}
input[id="menuicon"]:checked + label + div {height:100px;}

.sitemap-ul {font-size:0;width:1200px;margin:15px auto;text-align:center;}
.sitemap-ul > li {font-size:12px;display:inline-block;vertical-align:top;width:20%;}



/*section.main*/
.main {width: 100%; height: auto; background-image: url(img/img03.jpg); background-size: cover; background-position:center; background-repeat: no-repeat; position: relative;}
.main .inner {width: 900px; height: 800px;margin: 0 auto;  position: relative;}
.main .inner .mainTitle {width: 653px; height: auto; }
.main .inner .mainTitle h2{ position: absolute; top: 35%; left: 50%; transform: translateX(-50%); font-size: 50px; line-height: 1.3; color: #222; animation-name: titani;  animation-duration: 1s;}
@keyframes titani {
    0%{opacity: 0; top:0;}
    30%{opacity: 0; top:0;}
    100%{opacity: 1; top:35%;}
}

.main .inner .mainTitle p {position: absolute; left: 0; top:47%; font-size: 19px; line-height: 1.6;  animation-name: titani-p; animation-duration: 0.5s;}

@keyframes titani-p {
    0%{opacity: 0;  transform: scale(0);}
    30%{opacity: 0; transform: scale(0);}
    100%{opacity: 1; transform: scale(1);}
}


.main .inner .mainTitle .btnYes {position: absolute; border-radius: 50%; left: 42%; transform: translateX(-50%); top:55%; display: inline-block; padding: 15px 25px; font-size: 18px; color: #fff; background: #000; animation-name: titani-btn; animation-duration: 2s;}

.main .inner .mainTitle .btnYes:hover {
    background-color: #68072c;
}

@keyframes titani-btn {
    0%{opacity: 0;  top: 70%;}
    30%{opacity: 0; top: 70%;}
    100%{opacity: 1; top:55%; }
}
.main .inner .mainTitle .btnNo {position: absolute; border-radius:50%; left: 58%; transform: translateX(-50%); top:55%; display: inline-block; padding: 15px 25px; font-size: 18px; color: #fff; background: #000; animation-name: titani-btn; animation-duration: 2s;}

.main .inner .mainTitle .btnNo:hover {
    background-color: #68072c;
}





.may {position: absolute; width:185px; height: 300px; top:50%; transform: translateY(-50%); right: 300px; background-color: red;}
.may > a {display: block; width: 145px; height: 145px; border-radius: 50%; background: #f57454; text-align: center; margin-bottom: 30px; animation-name: mayani; animation-duration: 1s;}
/* 꺽새를 넣어줘야 이 a태그에만 적용됨 */

@keyframes mayani {
    0%{opacity: 0;  transform: scale(0);}
    30%{opacity: 0; transform: scale(0);}
    100%{opacity: 1; transform: scale(1);}
}

.may strong {font-style: italic; font-size: 55px; letter-spacing: -2px;}
.may p{color: #fff;}
.may ul {width: 185px; height: auto; }
.may ul li {line-height: 40px; color: #333; font-size: 10px; letter-spacing: 5px; font-weight: 600; border-bottom: 1px solid #333; animation-name: mayLi;  animation-duration: .8s;}

@keyframes mayLi {
    0%{opacity: 0;  letter-spacing: -5px;}
    30%{opacity: 0; letter-spacing: -5px;}
    50%{opacity: 0; letter-spacing: -5px;}
    100%{opacity: 1; letter-spacing: 5px;}
}
.may ul li:nth-child(2) {animation-duration: 1.2s; border-bottom: 1px solid #333;}
.may ul li:nth-child(3) {animation-duration: 1.5s; border-bottom: 1px solid #333;}

.may ul li a {display: block; }

.may h3{position: absolute; top: 100%; right:25px; font-size: 40px; animation-name: mayh3; animation-duration: 1.8s;}
@keyframes mayh3 {
    0%{opacity: 0; top: 95%; }
    30%{opacity: 0;top: 95%; }
    100%{opacity: 1; top: 100%;}
}





/*section.happy*/
.happy {width: 1400px; margin: 0 auto; color: #333; margin-top: 100px;}
.happy h2{ text-align:center;font-size: 40px; font-weight: bold; margin-bottom: 50px;}
.happy h2 .colortext { color: #f57260;}

.happy ul {width: 100%; height: auto; margin: 0 auto;  overflow: hidden;}

/* 자식요소에 float주면 부모요소의 높이값이 상실됨 따라서 부모에 overflow hidden 추가해야함 */
.happy ul li {float: left; width: 32.2%; margin-right: 1.7%; margin-bottom: 80px; background:  #c99494;}
.happy ul li:nth-child(2){background: #fff3b1;}
.happy ul li:nth-child(3){margin-right: 0; background: #864c5b;}

.happy ul li a {display: block; width: 100%; height: 100%; padding: 50px 15px 50px 15px;  box-sizing: border-box; position: relative; overflow: hidden; text-align: center;}
.happy ul li p {font-size: 19px; margin-bottom: 30px; font-weight: bold;}
.happy ul li h3 {font-size: 30px; margin-bottom: 70px;}
.happy ul li p.img {height: 250px; ;  overflow: hidden;}
.happy ul li p.img img {width: 100%;  transition: all 0.3s;}
/* 가상컨텐츠 */
/* .happy ul li a:after {content: ''; position: absolute; top:60px;right: 0; width:63%; height: 2px; background: rgba(237,237,233,0.42);}
.happy ul li:nth-child(2) a:after{width:60%;}
.happy ul li:nth-child(3) a:after{width:43%;} */
/* 확대모션 */
.happy ul li a:hover .img img {
    transform: scale(1.2); transition: all 1s;
}
/* section.title */
.title {width: 100%; height: 600px; background-image: url(img/img03.jpg); background-size: cover; background-position:center; background-repeat: no-repeat; position: relative;}
.title .inner {width: 900px; height: 800px;margin: 0 auto;  position: relative;}
.title .inner .mainTitle {width: 653px; height: auto; }
.title .inner .mainTitle h2{ position: absolute; top: 35%; left: 50%; transform: translateX(-50%); font-size: 40px; line-height: 1.3; color: #222;}
.title .inner .mainTitle h3{ position: absolute; top: 35%; left: 50%; transform: translateX(-50%); font-size: 35px; line-height: 1.3; color: #222;}
.title .inner .mainTitle a{display: block; width:100%; height: 100%; }
.title .inner .mainTitle p{ font-size: 16px; font-weight: bold; color: #fff; position:absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}

/* .top {float: right; margin-right: 30px; margin-bottom: 30px; width: 80px; height: 80px; background: #454545; border-radius: 50%; background-image: url(../img/arrow.JPG); background-repeat: no-repeat; background-size: 25px; background-position: top; position: relative;}  */

/* section.type */
/* .type {width: 1400px; margin: 0 auto; color: #333; margin-top: 50px;background-color: red;}

.type ul {width: 100%; height: auto; margin: 0 auto;  overflow: hidden;} */

/* 자식요소에 float주면 부모요소의 높이값이 상실됨 따라서 부모에 overflow hidden 추가해야함 */
/* .type ul li { width: auto; height: auto; background: #c5cdbe; position: relative; }
.type ul li p {font-size: 19px; margin-bottom: 30px; font-weight: bold; text-align: center;}
.type ul li p.img {height: 50%; ;  overflow: hidden;}
.type ul li p.img img {width: 100%; transition: all 0.3s;}
.type ul li a {display: block; width: 100%; height: 100%; padding: 50px 15px 50px 15px;  box-sizing: border-box; position: relative; overflow: hidden; text-align: center;} */

.type{ display: block; padding: 50px 50px;}
.type h2{margin-bottom: 20px; margin-top: 30px;}
.type p{display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}

.lowP{ display: block; padding: 50px 50px;}
.lowP h2{margin-bottom: 20px; margin-top: 30px;}
.lowP p{display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}

.mediumP{ display: block; padding: 50px 50px;}
.mediumP h2{margin-bottom: 20px; margin-top: 30px;}
.mediumP p{display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}

.highP{ display: block; padding: 50px 50px;}
.highP h2{margin-bottom: 20px; margin-top: 30px;}
.highP p{display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}

.cal{ display: block; padding: 50px 50px;}
.cal h2{margin-bottom: 20px; margin-top: 30px; margin-left: 10px;}
.cal p{font-weight: bold; margin-top: 10px;}
.cal input{margin:10px 10px 10px 10px; margin-top: 20px;}

.random{ text-align:center; display: block; padding: 50px 50px; }
.random h2{font-size: 30px; font-weight: bold; margin-bottom: 50px;margin-top:30px;}
.random input {
    width: 170px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
.random input:hover {
    background-color: #68072c;
    box-shadow: 0px 15px 20px#865e6d;
    color: #fff;
    transform: translateY(-7px);
}

/*section.smart*/
.smart {width: 100%; height: auto; background-image: url(../img/section.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; padding: 80px 0;}
.smart .inner {width: 1400px; height: auto; margin: 0 auto;  text-align: center; overflow: hidden;}
.smart .inner h2 {font-size: 40px; margin-bottom: 60px;}
.smart .inner h2 .colortext2 { color: #425ca6;}
.smart .inner ul {width: 30%; float: left;}
.smart .inner ul li {width: 100%;}
.smart .inner ul li a {display: block; width: 100%; position: relative; text-align: left;}
.smart .inner ul li a .img{width: 100%; height: 220px; overflow: hidden;}
.smart .inner ul li a .img img {width: 100%;}
.smart .inner ul li a h3 {font-size: 22px; line-height: 1.5; position: absolute; top:55%; left: 40%;  color: #fff;}
.smart .inner ul li a:before {content:'상품 테스트'; position: absolute; left: 40px; bottom: 40px;  font-size: 16px; font-weight: bold; color: #fff; padding-bottom: 25px; border-bottom: 5px solid #fff;}
.smart .inner ul li:nth-child(2) a:before{content:'피해 예방';}
.smart .row {float: right; width: 70%; height: 437px; }
.smart .row .guide {width: 50%; float: left; background: #fff; text-align: center;
padding: 20px 0 ; box-sizing: border-box;}
.smart .row .guide > p {width: 30%; margin-top: 30px;font-size: 19px; font-weight: bold; margin: 20px auto; border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 10px;}
.smart .row .guide p.img {display: inline-block; width: 200px; height: 200px; border-radius: 50%; overflow: hidden;margin-bottom: 30px;}
.smart .row .guide p.img img{ width: 100%; transition: all 0.5s;}
.smart .row .guide a:hover p.img img {transform: scale(1.3); transition: all 1s;} 
.smart .row .guide:first-child {border-right: 1px solid #ddd;}
.smart .row .guide h3{margin-bottom: 30px;}
/*section.news*/
.news {width: 1400px; height: auto; margin: 0 auto; overflow: hidden;}
.news .issue {margin-top: 50px; width: 49.25%; height: 280px; float: left; background-image: url(../img/img_08.jpg);background-repeat: no-repeat; background-size: cover; background-position: center; margin-right: 1.5%;}
.news .issue:nth-child(2) {margin-right: 0;background-image: url(../img/img_09.jpg);}
.news .issue h2{margin-top: 10%; margin-left: 10%; }
.news .issue p {font-size: 15px; color: #333; margin-top: 20px; margin-left: 10%;}
.news .issue p .num {font-size: 14px; padding: 3px 7px; background:#7f8c97; border-radius: 50%; }

/*footer*/
footer {width: 100%; height: auto; background: #454545; color: #adadad; overflow: hidden;}
footer .adress{width: 1400px; margin: 0 auto; line-height: 1.7;}
footer .adress p {float: left; margin: 50px; text-align:center;}
footer .adress .flogo {float: right; padding-top: 30px; }
footer .adress .copy {font-size: 14px;}

.top {float: right; margin-right: 30px; margin-bottom: 30px; width: 80px; height: 80px; background: #454545; border-radius: 50%; background-image: url(
    img/arrow.JPG); background-repeat: no-repeat; background-size: 25px; background-position: top; position: relative;} 
.top a{display: block; width:100%; height: 100%; }
.top p{ font-size: 16px; font-weight: bold; color: #fff; position:absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}









































































